<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Party Hunt</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet"> 
  </head>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-md-1 col-md-offset-2" id="topbar-logo">
          <img src="../static/images/logo.png" width="44" align="right" id="logo" />
        </div>
        <div class="col-xs-8 col-md-3" id="lockup">
          <div id="title">
            Party Hunt
          </div>
          <div id="subtitle">
            The best parties, every week
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>
    <div class="container-fluid main-section">
    	<div class="row">
    		<div class="col-md-1 border">
    		</div>
	    	<div class="col-md-4 spaceman">
	    		<img src="../static/images/background.gif" height="100%" width="100%" />
	    	</div>
	    	<div class="container-fluid">
	    		<div class="col-md-6" align="center">
		    		<div class="jumbotron">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6Y2nPHYpmXc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>
	  					<marquee behavior="scroll" direction="left" scrollamount="15"><h1>LIKE TO PARTY?</h1></marquee>
	  					<div class="description">
                We'll let you know when there's an awesome one near you.
              </div><br>
  	  				<form action="/submit" method="POST">
  						  <input class="signup" name="email" type="email" placeholder="Enter email address"/>
  						  <button class="btn btn-primary btn-lg">Invite Me</button>
  						</form>
					</div>	
				</div>
			</div>
		</div><br>
    </div>
  </body>
</html>