
	<table>
		<tr>
			<td>Email</td>
			<td>Timestamp</td>
		</tr>
		<% for (var i = 0; i < posers.length; i++) { %>
			<tr>
				<td><%=posers[i].email%></td>
				<td><%=posers[i].created%></td>
			</tr>
		<% } %>
	</table>
