.navbar-default {
	background-color: white;
	font-family: "HelveticaNeue-Light";
	font-size: 36px;
	height: 80px;
}

#topbar-logo {
	margin-left: 5%;
}

#logo {
	padding-top: 20%;
}

.main-section {
	padding-top: 130px;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light";
  background-color: #080A30;
}

.spaceman {
	padding-top: 2%;
}

.signup {
	width: 75%;
	text-align: center;
	height: 40px;
	font-size: 17px;
	padding: 0 0 4px 0;
}

.jumbotron {
	background-color: #cdced5;
	color: #202244;
	padding: 30px;
}

#title {
	font-size: 20px;
	font-weight: 800;
	margin-top: 4%;
}

#subtitle {
	font-size: 17px;
	font-weight: 400;
	color: gray;
	line-height: 95%;
}

#lockup {
	margin-left: -1.5%;
}

.description {
	font-size: 18px;
}